/* Global Style */

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: "Helvetica", "Arial", sans-serif;
    color: #555;
}

h1, h2 {
  color: #333;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}



/* Navigation Bar */
label i.fa-bars {
    display: none;
}

nav {
    width: 80%;
    margin-left: 10%;
    display: flex;
    position: fixed;
    background: black;
    border-radius: 20px;
    z-index: 999;
}

nav ul {
    margin: auto;
    padding: 8px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 100%;
    margin-left: 4px;
    padding: 2px 12px;
    color: white;
    border-radius: 5px;
    transition: background .2s, color .2s;
}

nav ul li a:hover {
    background: white;
    color: black;
}

nav ul li a#active {
    background: grey;
}

nav ul li a#active:hover {
    background: white;
    color: black;
}




/* Home Section */

section.picture {
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: -1;
}


section.picture div img {
    width: 100%;
}



/* About Section */

#about {
    width: 100%;
}

#about div {
    max-width: 60em;
    margin: auto;
}

#about h1 {
    text-align: center;
    padding-top: 2em;
}

#about p {

    line-height: 1.5;
    padding: 1em 1em 2em 1em;
}



/* Education Section */
#education {
    width: 100%;
    background-color: rgb(242, 242, 245);
}

.education1 {
    width: 60em;
    margin: auto;
}

#education h1 {
    text-align: center;
    padding-top: 2em;
}

.education2 {
    line-height: 1.5;
    padding: 1em 1em 2em 1em;
    display: flex;
    justify-content:space-around;
}


.education3 {
    width: 100%;
}

.logo {
    width: 150px;
    height: 150px;
    margin: auto;
}

#logo1{
    background: url(../img/Purdue.png) no-repeat center;
    background-size: contain;
}

#logo2{
    background: url(../img/Purdue.png) no-repeat center;
    background-size: contain;
}
#logo3{
    background: url(../img/Beihang.gif) no-repeat center;
    background-size: contain;
}

.edu-block {
    text-align: center;
}

.edu-block h3 {
    padding: 1em 0 0 0;
}





/* Project Section */
#project {
    width: 100%;
}

#project div {
    max-width: 60em;
    margin: auto;
}

#project h1 {
    text-align: center;
    padding-top: 2em;
}

#project p {
    text-align: center;
    line-height: 1.5;
    padding: 1em 1em 2em 1em;
}


/* Footer Section */

footer {
    padding: 20px 0;
    width: 100%;
    background: black;
    color: white;
}

footer p {
    text-align: center;
    margin: auto;
}






/* Screen size for pad-pro */
@media only screen and (max-width: 1024px) and (min-width: 768px) {
    
/* About Section */
    
#about div {
    max-width: 45em;
}
    
    
/* Education Section */
.education1 {
    width: 45em;
    margin: auto;
}
.logo {
    width: 120px;
    height: 120px;
}


    
}




/* Screen size for pad */
@media only screen and (max-width: 768px) and (min-width: 450px)  {
    
/* Navigaztion */
nav {
    flex-direction: column;
    width: 120px;
    top: 35px;
    left: 20px;
    margin: 0;
    border-radius: 0 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s;
}
nav ul {
    padding: 0;        
}
nav ul li a {
    display: block;
    text-align: center;
    border-radius: 0 0;
}
label i.fa-bars {
    display: block;
    position: fixed;
    top: 2px;
    left: 20px;
    font-size: 25px;
    z-index: 1000px;
}
input#menu:checked ~ nav {
    visibility: visible;
    opacity: 1;
}

    
/* About Section */
    
#about div {
    max-width: 28em;
}
    
/* Education section */
.education1 {
    width: 28em;
}


.education2 {
    flex-direction: column;
}

.education3 {
    display: flex;
    width: 420px;
    height: 120px;
    margin: 10px auto;
    border: 1px solid black;
}

.logo {
    width: 100px;
    height: 100px;
    margin: 10px;
}


.edu-block {
    margin: auto auto;
    width: 300px;
}
    
.edu-block h3 {
    padding: 0;
} 



}

/* Screen size for phone */
@media only screen and (max-width: 450px) {
/* Navigaztion */
nav {
    flex-direction: column;
    width: 120px;
    top: 35px;
    left: 20px;
    margin: 0;
    border-radius: 0 0;
    visibility: hidden;
    opacity: 0;
    transition: opacity .8s;
}
nav ul {
    padding: 0;        
}
nav ul li a {
    display: block;
    text-align: center;
    border-radius: 0 0;
}
label i.fa-bars {
    display: block;
    position: fixed;
    top: 2px;
    left: 20px;
    font-size: 25px;
    background: #fff;
    z-index: 1000px;
}
input#menu:checked ~ nav {
    visibility: visible;
    opacity: 1;
}



/* About */
#about div {
    max-width: 20em;
}


/* Education section */
.education1 {
    width: 20em;
}


.education2 {
    flex-direction: column;
}

.education3 {
    display: flex;
    width: 300px;
    height: 120px;
    margin: 10px auto;
    border: 1px solid black;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 20px 12px;
}


.edu-block {
    margin: auto auto;
    width: 300px;
}
    
.edu-block h3 {
    padding: 0;
} 

}



