/* ---------------------------------------------------
                   Global Style
--------------------------------------------------- */

* {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Raleway', sans-serif;
    width: 100%;
    height: 100%;
    font-size: 16px;
}


.main-wrapper {
    width: 100%;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}


/* ---------------------------------------------------
                   Navigation Bar
--------------------------------------------------- */
label i.fa-bars {
    display: none;
}



nav {
    width: 80%;
    margin-left: 10%;
    display: flex;
    position: fixed;
    background: black;
    border-radius: 20px;
    z-index: 999;
}

nav ul {
    margin: auto;
    padding: 8px 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    font-size: 100%;
    margin-left: 4px;
    padding: 2px 12px;
    color: white;
    border-radius: 5px;
    transition: background .2s, color .2s;
}

nav ul li a:hover {
    background: white;
    color: black;
}

nav ul li a#active {
    background: grey;
}

nav ul li a#active:hover {
    background: white;
    color: black;
}




/* ---------------------------------------------------
                   Home Section
--------------------------------------------------- */

section.picture {
    margin: auto;
    position: relative;
    overflow: hidden;
    z-index: -1;
}


section.picture div img {
    width: 100%;
}



/* ---------------------------------------------------
                   About Section
--------------------------------------------------- */
#about {
    width: 100%;
    margin: 60px auto 20px auto;
}

#about div {
    width: 80%;
    margin: auto
}

#about h1 {
    text-align: center;
    padding: 5px;
}

#about p {
    text-align:justify;
    line-height: 1.6;
}

/* ---------------------------------------------------
                   Education Section
--------------------------------------------------- */
#education {
    width: 100%;
    margin: 60px auto 20px auto;
    background-color: rgb(242, 242, 245);
}

#education .education1 {
    width: 80%;
    margin: auto;
}

#education h1 {
    text-align: center;
    margin-bottom: 10px;
}

.education2 {
    display: flex;
    justify-content:space-around;
}


.education2 .education3 {
    width: 300px;
}

.education2 .education3 .logo {
    width: 200px;
    height: 200px;
    margin: auto
}

#logo1{
    background: url(../img/Purdue.png) no-repeat center;
    background-size: contain;
}

#logo2{
    background: url(../img/Purdue.png) no-repeat center;
    background-size: contain;
}
#logo3{
    background: url(../img/Beihang.gif) no-repeat center;
    background-size: contain;
}

.education2 .education3 .edu-block {
    padding: 5px;
    line-height: 1.3;
    text-align: center;
    font-size: 100%;
}


/* ---------------------------------------------------
                   Experience Section
--------------------------------------------------- */
#experience {
    width: 100%;
    margin: 60px auto 20px auto;
    text-align: center;
}

/* ---------------------------------------------------
                   Project Section
--------------------------------------------------- */
#project {
    width: 100%;
    margin: 60px auto 20px auto;
    text-align: center;
    background-color: rgb(242, 242, 245);
}


/* ---------------------------------------------------
                   Skill Section
--------------------------------------------------- */
#skill {
    width: 100%;
    margin: 60px auto 20px auto;
    text-align: center;
}


/* ---------------------------------------------------
                   Hobby Section
--------------------------------------------------- */
#hobby {
    width: 100%;
    margin: 60px auto 20px auto;
    text-align: center;
    background-color: rgb(242, 242, 245);
}

/* ---------------------------------------------------
                   contact Section
--------------------------------------------------- */
#contact {
    width: 80%;
    margin: 60px auto 20px auto;
    text-align: center;
}

/* ---------------------------------------------------
                   Footer Section
--------------------------------------------------- */
footer {
    padding: 20px 0;
    width: 100%;
    background: black;
    color: white;
}

footer p {
    text-align: center;
    margin: auto;
}



/* Screen size for pad */
@media only screen and (max-width: 1080px) and (min-width: 768px) {

    .education2 .education3 {
        width: 200px;
    }

    .education2 .education3 .logo {
        width: 150px;
        height: 150px;
        margin: auto
    }


    .education2 .education3 .edu-block {
        padding: 5px;
        line-height: 1.3;
        text-align: center;
        font-size: 90%;
    }
    
}




/* Screen size for pad */
@media only screen and (max-width: 768px) and (min-width: 450px)  {
    /* Navigaztion */
    nav {
        flex-direction: column;
        width: 120px;
        top: 35px;
        left: 20px;
        margin: 0;
        border-radius: 0 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity .8s;
    }
    nav ul {
        padding: 0;        
    }
    nav ul li a {
        display: block;
        text-align: center;
        border-radius: 0 0;
    }
    label i.fa-bars {
        display: block;
        position: fixed;
        top: 2px;
        left: 20px;
        font-size: 25px;
        background: #fff;
        z-index: 1000px;
    }
    input#menu:checked ~ nav {
        visibility: visible;
        opacity: 1;
    }
    
    /* Education section */
    #education .education1 {
        width: 100%;
        margin: auto;
    }

    #education h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .education2 {
        display: flex;
        flex-direction: column;
    }


    .education2 .education3 {
        display: flex;
        width: 450px;
        margin: 10px auto;
        border: 1px solid black;
    }

    .education2 .education3 .logo {
        width: 120px;
        height: 120px;
    }
    

    .education2 .education3 .edu-block {
        font-size: 100%;
        margin: auto;
        width: 300px;
    }


}

/* Screen size for phone */
@media only screen and (max-width: 450px) {
    /* Navigaztion */
    nav {
        flex-direction: column;
        width: 120px;
        top: 35px;
        left: 20px;
        margin: 0;
        border-radius: 0 0;
        visibility: hidden;
        opacity: 0;
        transition: opacity .8s;
    }
    nav ul {
        padding: 0;        
    }
    nav ul li a {
        display: block;
        text-align: center;
        border-radius: 0 0;
    }
    label i.fa-bars {
        display: block;
        position: fixed;
        top: 2px;
        left: 20px;
        font-size: 25px;
        background: #fff;
        z-index: 1000px;
    }
    input#menu:checked ~ nav {
        visibility: visible;
        opacity: 1;
    }
    
    
    
    /* About */
    #about {
        font-size: 90%;
    }
    
    
    /* Education section */
    #education .education1 {
        width: 100%;
        margin: auto;
    }

    #education h1 {
        text-align: center;
        margin-bottom: 10px;
    }

    .education2 {
        display: flex;
        flex-direction: column;
    }


    .education2 .education3 {
        display: flex;
        width: 280px;
        margin: 10px auto;
        border: 1px solid black;
    }

    .education2 .education3 .logo {
        width: 90px;
        height: 90px;
    }
    

    .education2 .education3 .edu-block {
        margin: auto;
        width: 200px;
        font-size: 90%;
    }
}



