.title {
    margin-top: 50px;
    margin-bottom: 40px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
}

.map {
    max-width: 512px;
    height: 360px;
}

.map-div {
    padding-bottom: 20px;
}

.img-gallery {
    padding: 0px;
    margin: 0px;  
}

.travel-image {
    margin-bottom: 20px;

    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
}

.selected {
    -webkit-transform: scale(1.1); 
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}


/* Remove the white space at right for iOS device */
@media
only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (-o-min-device-pixel-ratio: 3/2),    
only screen and (min-device-pixel-ratio: 1.5){
    html, body{
        width:100%;
        overflow-x:hidden;
      }
}